<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <h1>Searching Product</h1>
        <form action="/search" method="post">
            <input type="text" name="query" value="<%= query %>"
            placeholder="Search..." required>
            <button type="submit">Search</button>
        </form>
    </div>

    <% if (products.length > 0 ) { %>
        <h2>Result:</h2>
        <ul>
            <% products.forEach(item => { %>
                <li>
                    <h2><%= item.name %> - <%= item.price %></h2>
                    <p><%= item.description %></p>
                </li>
            <% });%>
        </ul>
    <% } %>

</body>
</html>